# exclude all files that starts with '_...'
_*.*
_*/
# reinclude all files that starts with '___...' (for __init__.py)
!__*.*
/.vscode
*~
.#*
\#*
.tox
dist/
.eggs/
build/
*.pyc
*.pyo
*.egg
*.egg-info
**/webtoon
token.txt
*.ipynb
python_path.txt
docs/todos.md
.webtoonscraper
.scraper
act.exe