# WebtoonScraper 의존성 목록; setup.py와 자동으로 동기화됨.

# <일반적으로 필요한 requirements>
# 사용한 버전: 4.66.1
tqdm
# 사용한 버전: 4.12.2
beautifulsoup4
# 사용한 버전: 0.2.3
requests_utils==0.2.3
# 사용한 버전: 4.7.1
typing_extensions

# <네이버 포스트에서만 사용되는 requirement>
# 사용한 버전: 3.0.6
demjson3

# <레진코믹스에서만 사용되는 requirement>
# 사용한 버전: 10.0.0
Pillow
