# WebtoonScraper dependancy list; Synced automatically with setup.py.

# <General requirements>
requests_utils==0.4.1
# 4.66.1
tqdm
# 4.7.1
typing_extensions
rich
# pyfilename==0.5.0

# <Dependency of NaverPostScraper>
# Version Used When Testing: 3.0.6
demjson3

# <Dependency of LezhinComicsScraper>
# Version Used When Testing: 10.0.0
Pillow
