# WebtoonScraper dependancy list; Synced automatically with setup.py.

# <General requirements>
# 4.66.1
tqdm
# 0.4.0
requests_utils==0.4.0
# 4.7.1
typing_extensions
rich

# <Dependency of NaverPostScraper>
# 사용한 버전: 3.0.6
demjson3

# <Dependency of LezhinComicsScraper>
# 사용한 버전: 10.0.0
Pillow
