name: Build Executable

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  release-package:
    runs-on: ubuntu-latest
    if: startsWith(github.event.head_commit.message, 'Release')

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: install dependencies
      run: |
        pip install hatch simplebuilder
        cp README.md README-build.md
        pip install -e .
        simplebuilder -B main

    - name: build and publish package
      run: |
        hatch build
        hatch publish -u __token__ -a "${{ secrets.PYPI_TOKEN }}"

  build-package:
    runs-on: ubuntu-latest
    if: startsWith(github.event.head_commit.message, 'Build')

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
  
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
  
      - name: install dependencies
        run: |
          pip install hatch simplebuilder
          cp README.md README-build.md
          pip install -e .
          simplebuilder -B main
  
      - name: build and publish package
        run: |
          hatch build

      - uses: actions/upload-artifact@v4
        with:
          name: packages
          path: WebtoonScraperPortable/dist/*
  